{% block content %} {% load staticfiles %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="shortcut icon" href="/static/images/trophy.png" type="image/x-icon">

<style>
    .help-block,
    label[for="title"] {
        position: absolute;
        display: none
    }
    
    .container {
        width: 420px;
        padding: 10px;
        border: 5px solid gray;
        margin: auto;
        margin-top: 100px;
        border-radius: 5px;
        background-color: khaki;
        padding: 20px;
    }
    
    body {
        background-image: url("{% static 'images/soho.jpg' %}");
        background-size: 200%;
        background-repeat: no-repeat;
    }
    
    .help-block,
    label[for="title"] {
        position: absolute;
        display: none
    }
</style>

<body>
    <div class="container">
        <form action="{%url 'add_project'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form|crispy }}
            <div class="container-login100-form-btn" style="margin-top:25px;">
                <button class="w3-button w3-black">
                       Post
                    </button>
                <button class="w3-button w3-red" style="margin-left:20px;">
                        <a href="/"> Back </a>
                     </button>
            </div>
        </form>
    </div>
    </div>


</body>
<!-- //Body -->

</html>

{% endblock %}